:root{
    --primeira-cor: #17a9f9;
    --primeira-cor-light: #a0c1c5;
    --cor-fundo: #ffffff;
    --cor-botoes: #ffffff;
    --cor-botoes-hover: #a7a7a7;
    --cor-letras: #fae061;

    --transicaoPadrao: 0.6s cubic-bezier(0.61, 0.11, 0.07, 1.12);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Agdasima', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--primeira-cor);
    margin: 0 4vw;
    transition: var(--transicaoPadrao);
}

.container{
    position: relative;
    width: 93vw;
    height: 93vh;
    max-width: 1000px;
    background: var(--cor-fundo);
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    transition: var(--transicaoPadrao);
    box-shadow: 2px 2px 5px 0px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estrutura_inicio{
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 0;
    display: flex;
    transform: scaleY(0);
    transition: var(--transicaoPadrao);
    flex-direction: column;
    justify-content: space-around;
}
.showTelaInicio{
    height: 300px;
    transform: scaleY(1);
    transform-origin: bottom;
}

input{
    transition: var(--transicaoPadrao);
}

input[type="button"]{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 11px;
    cursor: pointer;
    margin: 2px;
    transform: scaleX(1);
    background-color: var(--cor-botoes);
}
input[type="button"]:hover{
    transform: scaleX(1.05);
    background-color: var(--cor-botoes-hover);
}
.estrutura{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: var(--transicaoPadrao);
    transform: scaleY(0);
    transform-origin: bottom;
}
.titulo{
    display: flex;
    justify-content: center;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    text-align: -webkit-center;
    color: var(--cor-letras);
    font-size: 40px;
}
.reacao_rodrigo{
    display: flex;
    justify-content: center;
    height: 260px;
}
.reacao_rodrigo img,
.reacao_rodrigo video{
    width: 100%;
    max-width: 400px;
    transition:  var(--transicaoPadrao);
    position: absolute;
}
video, img{
    border-radius: 15px;
}

.reacao_rodrigo img{
    opacity: 0;
}
.selecionada{
    opacity: 1 !important; 
}
.imagem_rodrigo, .video_rodrigo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpo_questao{
    transition: var(--transicaoPadrao);
}

.entrada{
    transform: scaleY(1) translate(1000px, 0px);
}
.entrarTela{
    transform: scaleY(1) translate(0px, 0px);
}
.sairTela{
    transform: scaleY(1) translate(-1000px, 0px);
}

.questao{
    text-align: justify;
}
.alternativas{
    display: flex;
    flex-direction: column;
}
.container_questao{
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.titulo,
.reacao_rodrigo,
.alternativas{
    margin: 15px 0;
}
.barra_status_respostas{
    height: 8px;
    background-color: var(--cor-letras);
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transicaoPadrao);
}
.carregando{
    font-size: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    transition: var(--transicaoPadrao);
}
.barra_loading_resultado{
    height: 8px;
    background-color: var(--cor-letras);
    transition: var(--transicaoPadrao);    
}
.estrutura_resultado{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    flex-direction: column;
    transition: var(--transicaoPadrao);
    transform: scaleY(0);
    transform-origin: bottom;
    z-index: 1;
}
.estrutura_resultado video{
    width: 100%;
    height: 100%;
}
.escala{
    transform: scaleY(1);
}
.popup_anuncio{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 15px;
    background: white;
    border-radius: 15px;
    /* height: 50px; */
    padding: 15px;
    box-shadow: 2px 2px 5px 0px black;
    transition: var(--transicaoPadrao);
}
.popup_anuncio > a{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 17px;
    color: red;
}
.popup_anuncio a, .popup_anuncio p, .popup_anuncio input[type="button"]{
    font-family: 'Arial', sans-serif;
}

.popup_anuncio input[type="button"]{
    padding: 5px;
}
.imagem_resultado{
    position: absolute;
    max-width: 100%;
    transform: rotate(340deg);
    opacity: 0;
    transition: var(--transicaoPadrao);
}
.redes_sociais{
    display: flex;
    position: absolute;
    bottom: 20px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.redes_sociais p{
    margin-bottom: 5px;
}
.redes_sociais img{
    max-width: 30px;
    max-height: 30px;
    border-radius: 0;
}

.redes_sociais_rodrigo a{
    padding: 5px;
}

.oculto{
    display: none;
    opacity: 0;
}

@media only screen and (max-width: 800px) {
    .container{
        flex-direction: column;
        overflow-y: scroll;
        padding: 12px 15px;
    }
    .questao{
        font-size: 12px;
    }
    input[type="button"]{
        font-size: 12px;
    }
    .titulo{        
        -webkit-text-stroke-width: 3px;
        font-size: 25px;
    }
    .reacao_rodrigo{
        height: 170px;
    }
    .reacao_rodrigo img,
    .reacao_rodrigo video{
        max-width: 90%;
    }
    .estrutura_resultado{
        margin:0px;
    }
    .estrutura_resultado video{        
        height: auto;
    }
    .imagem_resultado{
        max-width: 55%;
    }
    .redes_sociais{
        font-size: 10px;
    }
    .redes_sociais img{
        max-width: 15px;
        max-height: 15px;
        border-radius: 0;
    }
    

}
